body{
    background-image: url("assets/resources/choc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
img{
    border-radius: 100px;
    width: 200px;
    height: 200px;
}
#123{
    width: 20px;
    height: 20px;
}